// ======================= MIXINS =======================

// Подключение шрифтов
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-style: #{$style};
        font-weight: #{$weight};
    }
}

// ======================================================

@mixin hover-menu {
    @media (min-width: $md3+px) {
        border-bottom: 1px solid transparent;

        &:hover {
            color: #000;
            border-bottom: 1px solid #000;
        }
    }
}

@mixin transition {
    transition: all 0.3s ease-in-out;
}
